@{
    ViewBag.Title = "UserTickets";
}
@model IEnumerable<Mvc_Proje.Models.Ticket>
<script>
    function butonAcKapat(a) {
        $.ajax({
            url: '/Admin/TicketDurumu?id=' + a,
            method: 'POST',
            success: function (sonuc) {
                if (sonuc) {
                    $("#btnDurum-" + a).removeClass("btn-success")
                    $("#btnDurum-" + a).addClass("btn-primary")
                    $("#btnDurum-" + a).text("Açık")
                }
                else {
                    $("#btnDurum-" + a).removeClass("btn-primary")
                    $("#btnDurum-" + a).addClass("btn-success")
                    $("#btnDurum-" + a).text("Kapalı")
                }
            },
            error: function () {
                alert("hata")
            }
        });
    }
</script>

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Kullanıcı Ticketları ( Admin )</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <span class="text-danger">
                    - Cevap verebilmek için Görüntüleyiniz..
                </span>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <a href="javascript:;">Ticket ID</a>
                                </th>
                                <th scope="col">
                                    <a href="javascript:;">Kullanıcı</a>
                                </th>
                                <th scope="col">
                                    <a href="javascript:;">Durum</a>
                                </th>
                                <th scope="col">
                                    <a href="javascript:;">Konu</a>
                                </th>
                                <th scope="col">
                                    <a href="javascript:;">Öncelik</a>
                                </th>
                                <th scope="col">
                                    <a href="javascript:;">Görüntüle / Yanıtla</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var ticket in Model)
                            {
                                <tr>
                                    <td>@ticket.ID</td>
                                    <td>@ticket.User.KullaniciAdi</td>
                                    <td>
                                        <a href="javascript:;" class="btn @((bool)ticket.Durum ? "btn-primary" :"btn-success") btn-xs" id="btnDurum-@ticket.ID" onclick="butonAcKapat(@ticket.ID)">@((bool)ticket.Durum ? "Açık" : "Kapalı")</a>

                                    </td>
                                    <td>@ticket.Konu</td>
                                    <td>
                                        @{
                                if (ticket.Oncelik == "Yüksek")
                                {
                                    <a class="btn btn-danger btn-xs">Yüksek</a>
                                }
                                else if (ticket.Oncelik == "Orta")
                                {
                                    <a class="btn btn-info btn-xs">Orta</a>
                                }
                                else
                                {
                                    <a class="btn btn-warning btn-xs">Düşük</a>
                                }
                                        }
                                    </td>
                                    <td>
                                        <a href="/Admin/TicketDetay/@ticket.ID" class="btn btn-xs btn-warning">Goster</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>